{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-5 text-center">Login</h2>
    <form method="post" class="row gy-4 justify-content-center">
        {% csrf_token %}
        <div class="col-12 d-flex justify-content-center mb-3">
            <div style="width: 250px;">
                {{ form.email|add_class:"form-control form-control-sm mb-3"|attr:"placeholder:Email" }}
                {{ form.email.errors }}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center mb-2">
            <div style="width: 250px;">
                {{ form.password|add_class:"form-control form-control-sm mb-2"|attr:"placeholder:Password" }}
                {{ form.password.errors }}
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center mt-3">
            <button type="submit" class="btn btn-primary px-4 mb-3">Login</button>
            <span class="mb-1">Don't have an account?</span>
            <a href="{% url 'register' %}" class="btn btn-outline-secondary mt-2">Sign Up</a>
        </div>
    </form>
</div>
{% endblock %}