{% extends "base.html" %}

{% block content %}

<div class="sign-up-container col-md-3 text-center">
  <h2 class="mb-5 display-3">Sign Up</h2>
  <form method="post" class="d-flex flex-column justify-content-center" card p-3>
    {% csrf_token %}

    {% for field in form %}
    <div class="mb-5 d-flex flex-column">
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary ">Sign Up</button>
  </form>
</div>

{% endblock %}