{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Sign Up</h2>
    <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.username.label_tag }}
            {{ form.username|add_class:"form-control" }}
            {{ form.username.errors }}
        </div>
        <div class="col-md-6">
            {{ form.email.label_tag }}
            {{ form.email|add_class:"form-control" }}
            {{ form.email.errors }}
        </div>
        <div class="col-md-6">
            {{ form.first_name.label_tag }}
            {{ form.first_name|add_class:"form-control" }}
            {{ form.first_name.errors }}
        </div>
        <div class="col-md-6">
            {{ form.last_name.label_tag }}
            {{ form.last_name|add_class:"form-control" }}
            {{ form.last_name.errors }}
        </div>
        <div class="col-md-6">
            {{ form.password1.label_tag }}
            {{ form.password1|add_class:"form-control" }}
            {{ form.password1.errors }}
        </div>
        <div class="col-md-6">
            {{ form.password2.label_tag }}
            {{ form.password2|add_class:"form-control" }}
            {{ form.password2.errors }}
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-5">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}