@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
header {
    position: fixed;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(240, 240, 100);
}

.nav-logo {
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-size: 24px;
}