<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>LITReview</title>
</head>
<body>
    <header class="nav-header">
        <h1 class="nav-logo">LITReview</h1>
        <nav>
            <a href="{% url 'register' %}">Sign Up</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>